.form-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  padding: 40px;
}

.form-box > * {
  width: 100%;
}

.form-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.form-margin {
  margin: 0 10px;
}

.input-full-width {
  width: 100%;
}
